{% extends 'base.html' %}

{% block content %}

<br><form style="float: right;" method="get" action="{% url 'Users:logout'%}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm"> LOGOUT </button>
    </form>
<div class="container mt-3">

    <div class="row">
      
      <a href="{% url 'Contents:post-form' %}" class="btn btn-primary btn-sm">پست جدید</a><br>

      <a href="{% url 'Contents:favorit-tags' %}" class="btn btn-primary btn-sm">موضوعات مورد علاقه</a><br>

      <a href="{% url 'Contents:get-archives' %}" class="btn btn-primary btn-sm">آرشیو</a><br>


      <h2> جدیدترین پست ها </h2><br>
      {% for post in post_list %}
      
        {% include "Components/card.html" %}
        

      {% endfor %}
    </div>
  </div>

{% endblock %}










      





