{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
      <h2> جدیدترین پست ها </h2><br>
      {% for post in post_list %}
      
        {% include "Components/card.html" %}
        

      {% endfor %}
    </div>
  </div>



  <script>
    function likePost(postId) {
        const csrftoken = getCookie('csrftoken');
        fetch(`/like/${postId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (response.ok) {
                return response.json(); 
            } else {
                throw new Error('Failed to like the post');
            }
        })
        .then(data => {

          const likeCountElement = document.getElementById(`like-count-${postId}`);
            likeCountElement.textContent = data.likes; 
        })
        .catch(error => {
            console.error(error);
        });
    }


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();

                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>


{% endblock %}










      





