{% extends 'base.html' %}



{% block content %}


<br><form style="float: right;" method="get" action="{% url 'Users:login'%}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm"> LOGIN </button>
    </form>


<div class="container mt-3">
    <div class="row">
      
    
    
    <a href="{% url 'Users:user-list' %}" class="btn btn-primary btn-sm">کاربران</a><br>


      <br><h2> جدیدترین پست ها </h2><br>
      {% for post in post_list %}
      {%if not post.soft_delete%}

        {% include "Components/card.html" %}
      {%endif%}

      {% endfor %}
    </div>
  </div>

{% endblock %}