{% extends "base.html" %}
{% load static %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-3">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="form-group mb-3">
        {{ form.text.label_tag }}
        {{ form.text }}
    </div>
    <div class="form-group mb-3">
        {{ form.tags.label_tag }}
        {{ form.tags }}
    </div>
    <div id="image-container" class="form-group mb-3">
        <label for="id_images">تصاویر:</label>
        <input type="file" id="id_images" name="images" multiple>
    </div>
    <button type="submit" class="btn btn-primary mt-3">ثبت پست</button>
</form>

{% endblock %}


